$main-color-white: #c5c3ab;
$main-color-black: #49453d;

$font-color-black: #49453d;
$font-color-white: #f7f7f7;
$font-family: 'Quicksand', consolas, monospace;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');