$main-color-light: #D6D0B6;
$main-color-gray: #C7C5AC;
$main-color-shadow: #97937A;
$main-color-black: #494539;

$font-color-black: #494539;
$font-color-white: #f7f7f7;
$font-family: 'Quicksand', consolas, monospace;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');