@font-face {
  font-family: 'Roboto', 'Quicksand', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
}

@mixin pc-width() {
  @media all and (min-width: 1264px) {
    @content;
  }
}

@mixin laptop-width() {
  @media all and (min-width: 960px) and (max-width: 1263px) {
    @content;
  }
}

@mixin phone-width() {
  @media all and (max-width: 959px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  letter-spacing: 1px;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    line-height: 1.6;
    font-size: 1rem;
}